parallax-container {
   height: auto;
 }

 nav {
  background: #d47172;
 }

 .section {
  background: #80858a;
  height: 20%;
  /* opacity:; */
 }
 
 .project {
   position: relative;
   display: block;
   opacity: 0;
   margin-top: 20px !important;
   width: 270px;
   left: 0px
 }

#button1, #button2, #button3, #button4, #button5 {
width: 260px;
height: 54px;
padding: 0;
}

.heading {
  font-size: 4em;
   color: #2296f3
}
 #name {
   position: relative;
   top: 30%;
   text-align: center;
   font-size: 4em;
   color: #2296f3
 }

.center {
  text-align: center;
  margin: auto;
}

.modal-header {
  font: black;
  font-size: 4em
}

.modal {
  color: #c3caca;
  background: #2296f3 !important;
}

.modal-footer {
  background: #404345 !important;
}

.background {
  background: rgba(64, 67, 69, 0.7);
}

li {
  display: inline-block;
}

.row {
  margin-bottom: 10px;
}

.connectImages {
  max-height: 100px;
}

.sub-heading {
  font-size: 2em;
  color: #2296f3;
}

input, textarea {
  color: white;
}
/* 
label color
.input-field label {
   color: #000; 
}
/* label focus color 
.input-field input[type=text]:focus + label {
  color: #000;
} */
/* label underline focus color 
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color 
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color 
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color 
.input-field .prefix.active {
  color: #000;
}
*/